@charset 'utf-8';

html, body {
    margin: 0;
    padding: 0;
    background: pink;    
    font-family: 'Dancing Script', cursive;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
    color: rgb(2, 2, 2);
}