<!DOCTYPE html>
<html lang="ko">
  <head>
    <%-include('../main/_templates/_head.ejs') %>
  </head>
  <body>
    <%-include('../main/_templates/_header.ejs') %>
    <main>
        <p>This is other main stuff</p>
    </main>
    <%-include('../main/_templates/_footer.ejs') %>
  </body>
</html>
